.App {
  background-color: black;
  margin: auto;
  width: 1480px;
  height: auto;
  padding: 50px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.container {
  color: white;
  height: auto;
  margin-bottom: 50px;
  margin-left: 30px;
}

.container .carroussel {
  display: flex;

  overflow: hidden;
  overflow-x: scroll;
}

.container .carroussel::-webkit-scrollbar {
  display: none;
}

.container .carroussel img {
  width: 318px;
  height: 152px;
  display: flex;
  flex-wrap: nowrap;
}

.App > img {
  width: 200px;
  height: 100px;
}
